@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";
@import 'bootstrap-icons/font/bootstrap-icons.css';

/* Estilo general */
body {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  background-color: #1c1b22;
}

/* Animación de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out;
}

/* Scrollbar personalizado */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(30, 41, 59, 0.4);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #00af6cd2;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #007548c5;
}
.text-outline {
  color: transparent;
  -webkit-text-stroke: 2px #00fd9c; /* grosor y color del borde */
}
@keyframes rgbBorder {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-borderGlow {
  background: linear-gradient(
    120deg,
    #00fd9c,
    #33e4a0,
    #003827,
    #06c77d
  );
  background-size: 400% 400%;
  animation: rgbBorder 6s linear infinite;
}
select {
  background-image: url("data:image/svg+xml;utf8,<svg fill='%2300fd9c' height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M5.516 7.548l4.484 4.484 4.484-4.484L16 9.06l-6 6-6-6z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1rem;
}
@keyframes rgbBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-borderGlow-hover {
  position: relative;
  border-radius: 0.75rem; /* igual que rounded-xl */
  overflow: hidden;
}

.animate-borderGlow-hover::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(
    120deg,
    #00fd9c,
    #33e4a0,
    #003827,
    #06c77d
  );
  background-size: 400% 400%;
  background-position: 0% 50%;
  opacity: 0;
  transition: opacity 0.5s ease;
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
    mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  pointer-events: none;
}

.animate-borderGlow-hover:hover::before {
  opacity: 1;
  animation: rgbBorder 6s linear infinite;
}
html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 50px; /* ajusta según la altura real de tu navbar */
}